<div>

    <h2 translate="backus3App.planSolucion.home.title">PlanSolucion</h2>

    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#savePlanSolucionModal" ng-click="clear()">
        <span class="glyphicon glyphicon-flash"></span> <span translate="backus3App.planSolucion.home.createLabel">Create a new PlanSolucion</span>
    </button>
    <div class="modal fade" id="savePlanSolucionModal" tabindex="-1" role="dialog" aria-labelledby="myPlanSolucionLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="editForm" role="form" novalidate ng-submit="create()">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myPlanSolucionLabel" translate="backus3App.planSolucion.home.createOrEditLabel">Create or edit a PlanSolucion</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="planSolucion.id" readonly>
                        </div>

                        <div class="form-group">
                            <label translate="backus3App.planSolucion.diaTrabajada">DiaTrabajada</label>
                            <input type="text" class="form-control" name="diaTrabajada"
                                   ng-model="planSolucion.diaTrabajada">

                        </div>
                        <div class="form-group">
                            <label translate="backus3App.planSolucion.cantidad">Cantidad</label>
                            <input type="number" class="form-control" name="cantidad"
                                   ng-model="planSolucion.cantidad">

                        </div>

                        <div class="form-group">
                            <label translate="backus3App.planSolucion.programaProduccion">programaProduccion</label>
                            <select class="form-control" name="programaProduccion" ng-model="planSolucion.programaProduccion.id" ng-options="programaProduccion.id as programaProduccion.id for programaProduccion in programaproduccions">
                            </select>
                        </div>
                        <div class="form-group">
                            <label translate="backus3App.planSolucion.maquina">maquina</label>
                            <select class="form-control" name="maquina" ng-model="planSolucion.maquina.id" ng-options="maquina.id as maquina.nombre for maquina in maquinas">
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deletePlanSolucionConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(planSolucion.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="backus3App.planSolucion.delete.question" translate-values="{id: '{{planSolucion.id}}'}">Are you sure you want to delete this PlanSolucion?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th translate="backus3App.planSolucion.diaTrabajada">DiaTrabajada</th>
                    <th translate="backus3App.planSolucion.cantidad">Cantidad</th>
                    <th translate="backus3App.planSolucion.programaProduccion">programaProduccion</th>
                    <th translate="backus3App.planSolucion.maquina">maquina</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="planSolucion in planSolucions">
                    <td><a ui-sref="planSolucionDetail({id:planSolucion.id})">{{planSolucion.id}}</a></td>
                    <td>{{planSolucion.diaTrabajada}}</td>
                    <td>{{planSolucion.cantidad}}</td>
                    <td>{{planSolucion.programaProduccion.id}}</td>
                    <td>{{planSolucion.maquina.nombre}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="planSolucionDetail({id:planSolucion.id})"
                                class="btn btn-info">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ng-click="update(planSolucion.id)"
                                class="btn btn-primary">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(planSolucion.id)"
                                class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <nav>
            <ul class="pagination">
                <li ng-show="links['first']" ng-click="loadPage(links['first'])"><a>&lt;&lt;</a></li>
                <li ng-show="links['prev']" ng-click="loadPage(links['prev'])"><a>&lt;</a></li>
                <li ng-show="page > 2" ng-click="loadPage(page - 2)"><a>{{page - 2}}</a></li>
                <li ng-show="page > 1" ng-click="loadPage(page - 1)"><a>{{page - 1}}</a></li>
                <li class="active"><a>{{page}}</a></li>
                <li ng-show="page < links['last']" ng-click="loadPage(page + 1)"><a>{{page + 1}}</a></li>
                <li ng-show="page < links['last'] - 1" ng-click="loadPage(page + 2)"><a>{{page + 2}}</a></li>
                <li ng-show="links['next']" ng-click="loadPage(links['next'])"><a>&gt;</a></li>
                <li ng-show="links['last']" ng-click="loadPage(links['last'])"><a>&gt;&gt;</a></li>
            </ul>
        </nav>
    </div>
</div>
